services:
#  php:
#    image: dk-php:latest
#    container_name: php
#    restart: always
#    volumes:
#      # Re-use local composer cache via host-volume
#      - ~/.composer-docker/cache:/root/.composer/cache:delegated
#      # Mount source-code for development
#      - ./php:/var/www/html
##    links:
##      - mysql
##    depends_on:
##      - mysql
#    ports:
#      - "9000:9000"
#      - "80:80"
#    environment:
#      - TZ=UTC
#
#  nginx:
#    image: nginx:alpine
#    container_name: nginx
#    ports:
#      - "80:80"
#    volumes:
#      - ./php/.docker/local/server/nginx.conf:/etc/nginx/nginx.conf
#      - ./php:/var/www/html
#    links:
#      - php
  nginx:
    env_file:
      - .env
    image: nginx:latest
    container_name: mb-nginx
    restart: always
    ports:
      - "80:80"
    links:
      - php
    depends_on:
      - php
    volumes:
      - ./php/:/var/www/html/
      - ./logs/nginx:/var/log/nginx/
    networks:
      - mb_network
  php:
    env_file:
      - .env
    build:
      context: .
      dockerfile: local/php/php-fpm/Dockerfile
    image: php:latest
    container_name: mb-php
    restart: always
    links:
      - mariadb
    depends_on:
      - mariadb
    volumes:
      - ./php/:/var/www/html/
      - ./logs/php/php.log:/var/log/fpm-php.www.log
    networks:
      - mb_network
    environment:
      - YII_DEBUG=${YII_DEBUG}
      - CONSTRUCTION_MODE=${CONSTRUCTION_MODE}
      - APP_ENV=${APP_ENV}
      - DOMAIN=${DOMAIN}
      - PROTOCOL=${PROTOCOL}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWD=${DB_PASSWD}
      - DB_PREFIX=${DB_PREFIX}
      - LOCALE=${LOCALE}
      - SESSION_NAME=${SESSION_NAME}
      - SENDER_EMAIL=${SENDER_EMAIL}
      - SENDER_NAME=${SENDER_NAME}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - SUPPORT_EMAIL=${SUPPORT_EMAIL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_DB=${REDIS_DB}
      - APP_ID=${APP_ID}
      - APP_NAME=${APP_NAME}
      - ROLE_MANAGE=${ROLE_MANAGE}
      - GRID_TOOLBAR=${GRID_TOOLBAR}

#  mysql:
#    image: mysql:8.0
#    container_name: mysql
#    cap_add:
#      - SYS_NICE
#    restart: always
#    environment:
#      - MYSQL_DATABASE=${DB_NAME}
#      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWD}
#    ports:
#      - 3306:3306
#    volumes:
#      - mysql:/var/lib/mysql
  mariadb:
    env_file:
      - .env
    container_name: mb-mariadb
    image: mariadb:10.2
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWD:-mauFJcuf5dhRMQrjj}
      MYSQL_DATABASE: ${DB_NAME:-mybs}
      MYSQL_USER: ${DB_USER:-root}
      MYSQL_PASSWORD: ${DB_ROOT_PASSWD:-mauFJcuf5dhRMQrjj}
    networks:
      - mb_network
#      options:
#        tag: "{{.DaemonName}}(image={{.ImageName}};name={{.Name}};id={{.ID}})"
#    networks:
#      - backend
    restart: on-failure
    ports:
      - "3307:3306"
    volumes:
      - ${PWD}/mariadb:/var/lib/mysql
  redis:
    env_file:
      - .env
    image: redis:latest
    container_name: mb-redis
    restart: always
    networks:
      - mb_network
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: mb-phpmyadmin
    restart: always
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
      PMA_PORT: 3306
      PMA_USER: root
      PMA_PASSWORD: ${DB_ROOT_PASSWD:-mauFJcuf5dhRMQrjj}
    ports:
      - "8080:80"
    networks:
      - mb_network
networks:
  mb_network:
    driver: bridge
volumes:
  mariadb:
    driver: local
